html {
    scroll-behavior: smooth;
}

.banner {
    height: 30vh;
    background-image: url("../img/banner.jpeg");
    background-position: center;
    background-size: cover;
}

main {
    background-color: #001021;
}

.tile-one {
    background-image: url("../img/tile1.jpeg");
    background-size: cover;
    background-position: center;
    height: 30vh;
}

.tile-one:hover {
    opacity: 0.7;
    transition-duration: 1s;
}

.tile-two {
    background-image: url("../img/tile2.jpeg");
    background-size: cover;
    background-position: center;
    height: 35vh;
}

.tile-two:hover {
    opacity: 0.7;
    transition-duration: 1s;
}

.tile-three {
    background-image: url("../img/tile3.jpeg");
    background-size: cover;
    width: 100%;
    background-position: center;
}

.tile-three:hover {
    opacity: 0.7;
    transition-duration: 1s;
}

.tile-four {
    background-image: url("../img/tile4.jpeg");
    background-size: cover;
    background-position: center;
    height: 60vh;
}

.tile-four:hover {
    opacity: 0.7;
    transition-duration: 1s;
}

.hero {
    background-color: white;
    height: 8vh;
    justify-content: center;
}