html {
    scroll-behavior: smooth;
}

.banner {
    height: 30vh;
    background-image: url("../img/banner.jpeg");
    background-position: center;
    background-size: cover;
}

main {
    background-color: #001021;
}

.tile-one {
    background-image: url("../img/tile1.jpeg");
    background-size: cover;
    background-position: center;
    height: 30vh;
}

.tile-one:hover {
    opacity: 0.7;
    transition-duration: 1s;
}

.tile-two {
    background-image: url("../img/tile2.jpeg");
    background-size: cover;
    background-position: center;
    height: 35vh;
}

.tile-two:hover {
    opacity: 0.7;
    transition-duration: 1s;
}

.tile-three {
    background-image: url("../img/tile3.jpeg");
    background-size: cover;
    width: 100%;
    background-position: center;
}

.tile-three:hover {
    opacity: 0.7;
    transition-duration: 1s;
}

.tile-four {
    background-image: url("../img/tile4.jpeg");
    background-size: cover;
    background-position: center;
    height: 60vh;
}

.tile-four:hover {
    opacity: 0.7;
    transition-duration: 1s;
}

.hero {
    background-color: #EEE5E9;
    height: 12vh;
    justify-content: center;
}

.is-small {
    width: 93vw;
    margin: auto;
}

.card:hover {
    box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.5),
    1px 2px 4px 0px rgba(0,255,255,0.5),
    1px 4px 8px 0px rgba(0,255,255,0.5),
    1px 4px 16px 0px rgba(0,255,255,0.5);
    transition-duration: 500ms;
}

.card {
    opacity: 0.8;
}

.card:hover {
    opacity: 1;
    transition-duration: 1s;
}

.card-image {
    border: 3px white;
    object-fit: cover;
}

.card-footer-item {
    opacity: 0.5;
    color: black;
    font-weight: bolder;
    transition: 0s;
}

.card-footer-item:hover {
    opacity: 1;
    transition-duration: 1.5s;
}